/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    combos {
        compatible = "zmk,combos";

        Bksp-o-p {
            bindings = <&kp BACKSPACE>;
            key-positions = <11 12>;
        };

        esc_a_s {
            bindings = <&kp ESCAPE>;
            key-positions = <15 16>;
        };

        tab_q_w {
            bindings = <&kp TAB>;
            key-positions = <1 2>;
        };
    };

    behaviors {
        a_esc: a_esc {
            compatible = "zmk,behavior-tap-dance";
            label = "A_ESC";
            #binding-cells = <0>;
            bindings = <&kp A>, <&kp ESCAPE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q       &kp W           &kp E        &kp R             &kp T    &none  &none  &kp Y        &kp U              &kp I        &kp O            &kp P               &none
&none  &mt LGUI A  &mt LEFT_ALT S  &mt LCTRL D  &mt LEFT_SHIFT F  &kp G    &none  &none  &kp H        &mt RIGHT_SHIFT J  &mt RCTRL K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMI  &none
&none  &kp Z       &kp X           &kp C        &kp V             &kp B                  &kp N        &kp M              &kp COMMA    &kp DOT          &kp FSLH            &none
                                   &kp ESCAPE   &lt 1 SPACE       &kp TAB                &lt 3 ENTER  &lt 2 BACKSPACE    &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        nav {
            display-name = "NAV";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |      |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
&none      &trans        &trans        &trans     &trans          &trans     &none  &none  &kp HOME    &kp PAGE_DOWN  &kp PG_UP   &kp END      &kp INS     &none
&none      &kp LEFT_GUI  &kp LEFT_ALT  &kp LCTRL  &kp LEFT_SHIFT  &trans     &none  &none  &kp LEFT    &kp DOWN       &kp UP      &kp RIGHT    &kp DEL     &trans
&kp LSHFT  &trans        &trans        &trans     &trans          &trans                   &kp K_UNDO  &kp K_CUT      &kp K_COPY  &kp K_PASTE  &kp K_REDO  &trans
                                       &trans     &sl 1           &kp SPACE                &trans      &trans         &trans
            >;
        };

        num {
            display-name = "NUM";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  | LCTRL | RCTRL |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |  LALT | RALT  |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |               |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |               | ENT |     | ALT |

            bindings = <
&none  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5  &none  &none  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &none
&none  &trans        &trans        &trans        &trans        &trans  &none  &none  &trans        &trans        &trans        &trans        &trans        &none
&none  &trans        &trans        &trans        &trans        &trans                &trans        &trans        &trans        &trans        &trans        &none
                                   &trans        &trans        &trans                &sl 2         &trans        &trans
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
&trans  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH   &kp DOLLAR        &kp PERCENT        &trans  &trans  &kp CARET      &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans  &kp GRAVE        &kp MINUS    &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans  &trans  &kp BACKSLASH  &kp SEMICOLON  &kp SQT       &trans                &trans                 &trans
&trans  &trans           &trans       &trans     &trans            &trans                             &trans         &trans         &trans        &trans                &trans                 &trans
                                      &trans     &trans            &trans                             &sl 3          &trans         &trans
            >;
        };

        sys {
            display-name = "SYS";
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &bt BT_CLR    &trans        &trans        &trans        &studio_unlock  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &bootloader   &sys_reset    &trans        &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
                                    &trans        &trans        &trans                          &trans  &trans  &trans
            >;
        };

        extra_layer_3 {
            display-name = "EXTRA 3";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        third {
            if-layers = <0 2>;
            then-layer = <3>;
        };
    };
};
